{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "rules": {
      "max-len": ["error", {"ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreComments": true}]
  }
}
